p {
    margin-left:-170px;
    position:absolute;
    font-size: 400%;
    width:410px;
    left:50%; 
    top: 150PX;
  }
  .selector{
    
    height:100px;
    width:100%;
    background:#f7aeb7;
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
  }
  .dots{
  display:inline-block;
    background:white;
    height:100px;
    width:100px;
    float: left;
    border: 10px solid black;
  }
  .dots2{
    display:inline-block;
    background:black;
    height:100px;
    width:100px;
    float: right;
    border: 10px solid white;
  }
  
  .guys{
    position:absolute;
    height:100px;
    width:350px;
    top:250px;
    left:50%;
    margin-left:-175px;
  }
  
  td {
  border: 1px solid black;
  height: 100px;
  width: 100px;
  border-style: solid;
  border-width: 15px;
  visibility: hidden;
  }

  button {
    height: 50px;
    width: 100px;
    font-size: 200%;
    border:5px solid gray;
    border-radius: 15px;
    background:#f7aeb7;
  }
  
 .button{
  top:50px;
  width: 100%;
  margin-left: -50px;
  left:50%;
  position: absolute;
  display: flex;
  flex-direction:row;
  align-items: center;
  background:#f7aeb7;
  visibility: hidden;
 }

  table{
    position:absolute;
    left:50%;
    margin-left:-150px;
    top:25%;
  }
  body{
    width:100%;
    height:100%;
    background:#f7aeb7;
    
  }