*{
  font-family: Monospace,sans-serif;
}

p {
  margin-left:-25px;
  /* margin-top: 50px; */
  /* padding-top: 20px; */
  position:absolute;
  font-size: 40px;
  width:410px;
  /* left:50%;  */
  /* top: 150PX; */
  margin-top: -50px;
  /* font-family:  'Montserrat', sans-serif; */
  color: #79BD9A;
}
.selector{
  
  height:100px;
  width:100%;
  background:rgb(196, 213, 226);
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  /* font-family:  'Montserrat', sans-serif; */
  
}
.dots{
  display:inline-block;
  background:white;
  height:100px;
  width:100px;
  float: left;
  border: 5px solid #3B8686;
  cursor: pointer;
  margin-top: 40px;
}
.dots:hover{
  box-shadow:   0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  
}
.dots2{
  margin-top: 40px;
  display:inline-block;
  background:black;
  height:100px;
  width:100px;
  float: right;
  border: 5px solid #3B8686;
  cursor: pointer;
}
.dots2:hover{
  box-shadow:   0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
  cursor: pointer;
}

.guys{
  position:absolute;
  height:250px;
  width:350px;
  top:250px;
  left:50%;
  margin-left:-175px;
  padding: 15px 15px;
  
}

td {
border: 1px  #3B8686;
height: 120px;
width: 120px;
border-style: solid;
border-width: 8px;
visibility: hidden;
}

button {
  height: 40px;
  width: 160px;
  font-size: 2em;
  color: white;
  font-weight: bold;
  border:0px solid #3B8686;
  border-radius: 15px;
  align-content: center;
  background-color:#3B8686;   
  
}

.button{
top:50px;
width: 100%;
position: absolute;
display: flex;
flex-direction:row;
justify-content: center;
visibility: hidden;
}

table{
  position:absolute;
  left:50%;
  margin-left:-180px;
  top:150px;
}
body{
  width:100%;
  height:100%;
  background:#f7aeb7;
  
}


  #title{
    color: rgb(196, 213, 226);
    text-align: center;
    /* font-family:  'Montserrat', sans-serif; */
    font-size: 60px;
    font-weight: 400;
  }
  
    .firstw{
      color:#3B8686;
     }
     .secondw{
     color:#79BD9A;
     }
     .thirdw{
         color:  rgb(91, 146, 78);
     }
     .selector{
       background-color: rgb(196, 213, 226);
     }
   body{
    background-color:rgb(196, 213, 226);
    display: flex;
    justify-content: center;
    flex-direction: column;
   }  
   h2{
     font-size: 35px;
      color: #79BD9A;
      margin: 5px;
    }
    
    input[type=radio] {
      position: absolute;
      visibility: hidden;
      display: none;
    }
    label {
      color: #3B8686;
      display: inline-block;
      cursor: pointer;
      width: auto;
      font-size: 19px;
      padding: 1.5px 20px;
      margin: 0;
    }
    label:hover{
      background-color: whitesmoke;
    }
    .radioGroup {
      border: solid 3px #3B8686;
      display: inline-block;
      margin: 20px;
      height: 35px;
      width: auto;
      border-radius: 5px;
      overflow: hidden;
    }
  
    input[type=radio]:checked + label{
      background-color: #3B8686 ;
      color:white;
      
    }
    
    
   
